<ion-header>
    <ion-toolbar>
        <ion-title>
            Pie Chart
        </ion-title>
    </ion-toolbar>
</ion-header>

<div align="center" padding="20px">

    <canvas id="canvas" width="380pt" height="380pt"></canvas>


</div>
<div class="scroll"  align="center">
    <h1>Totaal: {{all}} = 100%</h1>
    <ion-content class="scroll"  [scrollEvents]="true">
        <canvas id="textcanvas" width="380pt" height="800pt"></canvas>
    </ion-content>
</div>

<ion-content></ion-content>
